<header>
  <h2>Lista de Atividades</h2>
</header>
<main>
  <div class="container-cards">
    <div class="card">
      <img src="assets/images/atividade-1.png" alt="Atividade 1" />
      <span>Atividade 1</span>
    </div>
    <div class="card">
      <img src="assets/images/atividade-2.png" alt="Atividade 2" />
      <span>Atividade 2</span>
    </div>
    <div class="card">
      <img src="assets/images/atividade-3.png" alt="Atividade 3" />
      <span>Atividade 3</span>
    </div>
  </div>
</main>
