<header>
  <h2>Lista de Atividades</h2>
</header>
<main>
  <div class="container-cards">
    <!-- [routerLink], directiva de atributo utilizada para enlazar a rutas específicas de la app. -->
    <!-- preciso importar RouterModule en el component para utilizar esta directiva -->
    <div class="card" [routerLink]="['/calculadora']">
      <img src="assets/images/atividade-1.png" alt="Atividade 1" />
      <h2>Atividade 1</h2>
    </div>
    <div class="card">
      <img src="assets/images/atividade-2.png" alt="Atividade 2" />
      <h2>Atividade 2</h2>
    </div>
    <div class="card">
      <img src="assets/images/atividade-3.png" alt="Atividade 3" />
      <h2>Atividade 3</h2>
    </div>
  </div>
</main>
